:root{
    --color-base: #5C4A48;
    /* --color-navbar: #A0914E; */
    /* --color-secundario: #212529; */
    --color-navbar: #A0914E;
    --color-secundario:  #5C4A48;
    --color-terciario: #fff;
    --color-boton: #5C4A48;
    --color-fondo: #D9D9D9;
}

/* Menu de navegacion */

#mainNav {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: var(--color-secundario);
}


#mainNav .navbar-toggler {
    padding: 0.75rem;
    font-size: 0.75rem;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    text-transform: uppercase;
    font-weight: 700;
}

#mainNav .navbar-brand {
    color: var(--color-navbar);
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
    letter-spacing: 0.0625em;
    text-transform: uppercase;
}

/* No hay imagen por el momento */
/* #mainNav .navbar-brand img {
    height: 1.5rem;
} */

#mainNav .navbar-nav .nav-item .nav-link {
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 0.95rem;
    color: var(--color-terciario);
    letter-spacing: 0.0625em;
}

#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
    color: var(--color-navbar);
}

@media (min-width: 992px) {
    #mainNav {
        padding-top: 1rem;
        padding-bottom: 1rem;
        border: none;
        /* background-color: transparent; */
        background-color: var(--color-secundario);
        /* background-color: var(--color-base); */
        transition: padding-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out;
    }
    #mainNav .navbar-brand {
        font-size: 1.5em;
        transition: font-size 0.3s ease-in-out;
    }
    #mainNav .navbar-brand img {
        height: 2rem;
        transition: height 0.3s ease-in-out;
    }
    #mainNav.navbar-shrink {
        padding-top: 1rem;
        padding-bottom: 1rem;
        background-color: var(--color-secundario);
        /* background-color: var(--color-base); */
    }
    #mainNav.navbar-shrink .navbar-brand {
        font-size: 1.25em;
    }
    #mainNav.navbar-shrink .navbar-brand svg,
    #mainNav.navbar-shrink .navbar-brand img {
        height: 1.5rem;
    }
    #mainNav .navbar-nav .nav-item {
        margin-right: 1rem;
    }
    #mainNav .navbar-nav .nav-item:last-child {
        margin-right: 0;
    }
}


/* MASTHEAD */
header.masthead {
    padding-top: 10.5rem;
    padding-bottom: 6rem;
    text-align: center;
    color: var(--color-terciario);
    background-color: var(--color-fondo);
    /* background-image: url("/assets/img/header-masthead-4.png"); */
    /* background-repeat: no-repeat; */
    /* background-attachment: scroll; */
    /* background-position: center center; */
    /* background-size: cover; */
    /* object-fit: contain; */
}

.main-space {
    margin-bottom: 4rem;
}

header.masthead .masthead-subheading {
    color: var(--color-boton);
    font-size: 1.5rem;
    font-style: italic;
    line-height: 1.5rem;
    margin-bottom: 25px;
    font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

header.masthead .masthead-heading {
    color: var(--color-boton);
    font-size: 3.25rem;
    font-weight: 700;
    line-height: 3.25rem;
    margin-bottom: 2rem;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@media (min-width: 768px) {
    header.masthead {
        padding-top: 10rem;
        padding-bottom: 5rem;
    }
    header.masthead .masthead-subheading {
        color: var(--color-boton);
        font-size: 2.25rem;
        font-style: italic;
        line-height: 2.25rem;
        margin-bottom: 2rem;
    }
    header.masthead .masthead-heading {
        color: var(--color-boton);
        font-size: 3.25rem;
        font-weight: 700;
        line-height: 4.5rem;
        margin-bottom: 4rem;
    }
    .header-texto{
        padding-top: 5rem;
    }
}


/* BOTONES */
.btn-xl {
    padding: 1.25rem 2.5rem;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1.125rem;
    font-weight: 700;
}

.btn-primary {
    color: var(--color-terciario);
    background-color: var(--color-boton);
    border-color: var(--color-boton);
}

.btn-primary:hover {
    color: var(--color-terciario);
    background-color: var(--color-navbar);
    border-color: var(--color-terciario);
}

.form-check-input:checked {
    background-color: var(--color-boton);
}

.btn-xl {
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 10px;
}

/* Revisar su uso */
/* html {
    scroll-padding-top: 4.5rem;
}
  
body {
    position: relative;
    overflow-x: hidden;
}
  
p {
    line-height: 1.75;
} */


/* NOSOTROS */
.section-heading{
    color: var(--color-secundario);
}

.page-section {
    padding: 6rem 0;
}

.page-section h2.section-heading, .page-section .section-heading.h2 {
    font-size: 2.5rem;
    margin-top: 0;
    margin-bottom: 1rem;
}

/* .section-heading-2 {
    margin-bottom: 2rem;
} */

.page-section h3.section-subheading, .page-section .section-subheading.h3 {
    font-size: 1rem;
    font-weight: 400;
    font-style: italic;
    font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    margin-bottom: 4rem;
}

.page-section h4.section-subheading, .page-section .section-subheading.h4 {
    font-size: 1rem;
    font-weight: 400;
    font-style: italic;
    font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.iconos-nosotros {
    color: var(--color-base);
} 

@media (min-width: 768px) {
    section {
        padding: 9rem 0;
    }
}



/* SERVICIOS */
#servicios{
    background-color: var(--color-fondo);
}

#servicios .servicio-item {
    max-width: 26rem;
    margin-left: auto;
    margin-right: auto;
}

#servicios .servicio-item .servicio-link {
    position: relative;
    display: block;
    margin: 0 auto;
}

#servicios .servicio-item .servicio-link .servicio-hover {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255, 200, 0, 0.9);
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity ease-in-out 0.25s;
}

#servicios .servicio-item .servicio-link .servicio-hover .servicio-hover-content {
    font-size: 1.25rem;
    color: white;
}

#servicios .servicio-item .servicio-link:hover .servicio-hover {
    opacity: 1;
}

#servicios .servicio-item .servicio-caption {
    padding: 1.5rem;
    text-align: center;
    background-color: var(--color-terciario);
}

#servicios .servicio-item .servicio-caption .servicio-caption-heading {
    font-size: 1.5rem;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
    margin-bottom: 0;
}

#servicios .servicio-item .servicio-caption .servicio-caption-subheading {
    font-style: italic;
    font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
  


/* FORMULARIO */
#formulario{
    padding-bottom: 0rem;
}

.form-group-check {
    margin-bottom: 30px;
}

section#formulario {
    background-color: var(--color-terciario);    
}

section#formulario .section-heading,
section#formulario .section-subheading {
    color: var(--color-secundario);
}

section#formulario form#contactForm .form-group {
    margin-bottom: 1.5rem;
}

section#formulario form#contactForm .form-group input,
section#formulario form#contactForm .form-group select,
section#formulario form#contactForm .form-group textarea {
  padding: 1.25rem;
  margin-bottom: 1.5rem;
}

section#formulario form#contactForm .form-group .form-button {
    padding: 1.25rem;
}

#message{
    resize: none;
}

section#formulario form#contactForm .form-group input.form-control,
section#formulario form#contactForm .form-group select.form-control,
section#formulario form#contactForm .form-group textarea.form-control {
    height: auto;
}

#grupo-idiomas-destino{
    margin-bottom: 1.5rem;
}

#legend-idioma-destino, .form-check{
    color: var(--color-secundario);
    font-size: 1rem;
    font-weight: 400;
    font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    margin-bottom: .1rem;
    text-align: center;
}


/* @media (max-width: 767px){
    section#formulario form#contactForm .contacto-correo{
        margin-top: 3rem;
    } 
} */

section#formulario form#contactForm p.help-block {
    margin: 0;
}

section#formulario form#contactForm .form-control:focus {
    border-color: var(--color-base);
    box-shadow: none;
}

section#formulario form#contactForm ::-webkit-input-placeholder {
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
    color: #ced4da;
}

section#formulario form#contactForm :-moz-placeholder {
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
    color: #ced4da;
}

section#formulario form#contactForm ::-moz-placeholder {
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
    color: #ced4da;
}

section#formulario form#contactForm :-ms-input-placeholder {
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
    color: #ced4da;
}


/* CONTACTANOS */
.my-auto {
    margin-top: auto;
    margin-bottom: auto;
}

#contact{
    padding-bottom: 2rem;
}

section#contact {
    background-color: var(--color-fondo);    
}

section#contact .section-heading {
    color: var(--color-secundario);
    padding-bottom: 2rem;
}

.icon-face, .icon-whats{
    color: var(--color-boton);
}

.icon-face:hover, 
.icon-whats:hover{
    color: var(--color-navbar);
}



/* FOOTER */
.footer {
    text-align: center;
    font-size: 0.9rem;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}





